body{
  background-color: lightcoral;
}

#cardContainer {
  display: flex;
  flex-flow: row wrap;
  padding: 20px;
  justify-content: center;
}

.card-img-top {
justify-content: center;
float: left;
width:  200px;
height: 200px;
object-fit: cover;
}

#addNewPetContainer {
  padding: 1rem;
}
  

.card {
  align-items: center;
  margin: 20px;
}

#top-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#dog-button {
  background-color: orange;
  margin: 10px;
}

#cat-button {
  background-color: orange;
  margin: 10px;
}

#dino-button {
  background-color: orange;
  margin: 10px;
}

#all-button {
  background-color: rgb(221, 119, 78);
  margin: 10px
}
